html {    
    box-sizing: border-box !important;
}

*, :before, :after {
    box-sizing: inherit !important;
}

body {

}


.container.main {
    max-width: 720px;
}

button {
    border-radius: 5px;
    height: 100%;
}

.input-container {
    background-color: #eeeeee;
    padding: 1.5rem;
    border-radius: 10px;    
}

.input-area {
    
}

.input-area .input {
    margin: 0px;
    border-radius: 5px;
    width: 88%
}

.input-area .add {
    margin: -1px;
    width: 12%;
}

.input-area .add:hover {
    background-color: rgb(55, 206, 201, .5);
    color: black;
}

ol {
    padding-left: 1rem;
}

ol.list {
    /*background-color: white;*/
}

.list li:nth-child(even) {
    
}

.list li {
    line-height: 2em;
}

.list li span.row {
    display: block;
}

.list li span.row span{
    display: inline-block;
    margin-right: -5px;
}

.close-btn {
    /*background-color: white;*/
    margin: 0px;
    margin-bottom: .0em;
    padding: 0px;
    border-radius: 0px;
    border: 0;
}

.close-btn:hover {
background-color: red;
}

.add {
}

.add:hover {

}

.number {
    max-width: 2.5em;
}

.total {
    display: inline-block;
}

.extract {
    color: black;
    font-weight: bold;
}

    .extract:hover {
        background-color: rgba(55, 206, 201, .5);
        color: black;
        border: 2px solid black;
    }

.result-container {    
    margin-top: 0px;
    margin-bottom: 0px;
    padding: .5rem;
    border-radius: 10px;
    background-color: white;
    position: relative;
    z-index: 5 !important;
}

.result-area {
    width: 100%;    
}

.result-area .results {
    text-align: center;
}

.next {
    
}

.previous:hover, .next:hover {
    background-color: rgba(55, 206, 201, .5);
    color: black;
}

.time {
    display: inline-block;
    text-align: center;
}

.selected {
    font-weight: bold;
    color: green;
}

.rejected {
    color: red;
}

.footer-container {
    margin-top: -10px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #eeeeee;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 10px;
    border-top: none;    
}

.edit-item, .remove-history-item {
       
}

.edit-item:hover {
    background-color: rgba(55, 206, 201, .5);

}

a.scroll-up {
    display: inline-block;
    color: black;
    border: .17em black solid;
    text-decoration: none;
    text-align: center;
}

.remove-history-item:hover {
    background-color: rgb(241, 242, 137, .5);
    color: black;
}

.clear-history {
    text-align: center;
    margin-left: .1em;
    margin-top: .5rem;
}

.clear-history:hover {
    background-color: red;
}

.modal {
    /*padding-top: 25vh;*/
}

/* Medium devices (landscape tablets, 768px and lower) */
@media only screen and (max-width: 400px) {
    .previous span, .next span {
        display: none;
    }
}