body {
}

* {
    box-sizing: border-box;
}

/*.container {
    max-width: 50%;
}*/

li span {
    display: inline-block;
    width: 150px;
}

.close-btn {
    background-color: lightblue;
}


    .close-btn:hover {
        background-color: red;
    }

.add {
    margin-left: .3em;
}

.add:hover {
    background-color: lightblue;
}

.number {
    max-width: 2.5em;
}

.total {
    display: inline-block;
}

.extract {
    /*width: 45%;*/
    /*background-color: lightblue;*/
    color: black;
    font-weight: bold;
}

    .extract:hover {
        background-color: blue;
        color: black;
    }

.next {
    /*float: right;*/
}

.previous:hover, .next:hover {
    background-color: lightblue;
}

.time {
    display: inline-block;
    text-align: center;
}

.selected {
    font-weight: bold;
    color: green;
}

.rejected {
    color: red;
}
/**/
.edit-item, .remove-history-item {
    /*margin-left: 0;
    margin-right: 0;*/
    /*box-sizing: border-box;
    margin: 0;*/
}

a.scroll-up {
    display: inline-block;
    color: black;
    border: .17em black solid;
    text-decoration: none;
    text-align: center;
}



.clear-history {
    text-align: center;
    margin-left: .1em;
}