html {
    /*margin: 0;*/
    box-sizing: border-box !important;
}

*, :before, :after {
    /*margin: 0;*/
    box-sizing: inherit !important;
}

body {

}


.container.main {
    max-width: 720px;
}

button {
    border-radius: 5px;
    height: 100%;
    /*justify-self: baseline;*/
}

.input-area {
    /*justify-content: end;*/
}

.input-area .input {
    margin: 0px;
    border-radius: 5px;
    width: 88%
}

.input-area .add {
    margin: -1px;
    width: 12%;
}

.input-area .add:hover {
    background-color: rgb(55, 206, 201, .5);
    color: black;
}

ol {
    padding-left: 1rem;
}

.list li:nth-child(even) {
    /*background-color: rgba(128, 128, 128, .05;*/
}

.list li {
    line-height: 2em;
}

.list li span.row {
    display: block;
    /*width: 150px;*/
}

.list li span.row span{
    display: inline-block;
    margin-right: -5px;
    /*width: 150px;*/
}

.close-btn {
    background-color: white;
    margin: 0px;
    margin-bottom: .1em;
    padding: 0px;
    border-radius: 4px;
    /*height: 90%;*/
    border: 0;
}

.close-btn:hover {
background-color: red;
}

.add {
    /*margin-left: .3em;*/
}

.add:hover {
    /*background-color: green;*/
}

.number {
    max-width: 2.5em;
}

.total {
    display: inline-block;
}

.extract {
    /*width: 45%;*/
    /*background-color: lightblue;*/
    color: black;
    font-weight: bold;
}

    .extract:hover {
        background-color: rgba(55, 206, 201, .5);
        color: black;
        border: 2px solid black;
    }

.next {
    /*float: right;*/
}

.previous:hover, .next:hover {
    background-color: rgba(55, 206, 201, .5);
    color: black;
}

.time {
    display: inline-block;
    text-align: center;
}

.selected {
    font-weight: bold;
    color: green;
}

.rejected {
    color: red;
}
/**/
.edit-item, .remove-history-item {
    /*margin-left: 0;
    margin-right: 0;*/
    /*box-sizing: border-box;
    margin: 0;*/
}

.edit-item:hover {
    background-color: rgba(55, 206, 201, .5);

}

a.scroll-up {
    display: inline-block;
    color: black;
    border: .17em black solid;
    text-decoration: none;
    text-align: center;
}

.remove-history-item:hover {
    background-color: rgb(241, 242, 137, .5);
    color: black;
}

.clear-history {
    text-align: center;
    margin-left: .1em;
}

.clear-history:hover {
    background-color: red;
}